body{
    margin: 0;
}

.layout{
    display: flex;
    height: 100vh;
}

#sidebar{
    width: 20%;
    height: 100%;
    background-color: #00c2c7;
    color: white;
    padding: 20px;
}

.main{
    padding-left: 5%;
}
