body {
    font-family:system-ui,-apple-system,sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(../images/loginwallpaper.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.login-container {
    display: flex;
    height: 100vh;
}

/* Header */
.header-container {
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-header {
    margin-bottom: 18%;
    margin-right: 20%;

}

.login-header h2{
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.login-header p {
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 400;
}

.info-btn {
    align-self: flex;
    margin-top: 20px;
}


.info-btn {
    padding: 12px 40px;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background-color: #006aff;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.info-btn:hover {
    background-color: white;
    color: #9ca3af;
}

/* Login card container */
.card-container {
    width: 45%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 15px;
}

.card-header {
    font-size: larger;
    margin-bottom: 30px;
}

.card-header h2 {
    margin: 0;
}

.card-header p {
    margin-top: 5px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #e2e8f0;
    border-radius: 15px;
    
}

.form-group i {
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
}

.form-group input {
    border: none;
    padding: 10px;
    color: #1e293b;
    font-size: 16px;
    font-weight: 400;
}

.form-group input:focus {
    outline: none;
    box-shadow: none;
}


.login-btn {
    border: none;
    font-size: 16px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px 150px;
    background-color: #006aff;
    color: white;
    cursor: pointer;
    font-weight: bold;
    
}

.login-btn:hover {
    background-color: #0053cc;
}

.login-btn:active {
    background-color: #003d99;
}
