<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.css">

<aside class="sidebar">

    <div class="sidebar-user">
        <h2 class="user">
            <i class="bi bi-alexa"></i> Locky
        </h2>
    </div>

    <div class="sidebar-menu">

        <a href="dashboard.html" class="active">
            <i class="bi bi-database"></i>
            <span class="label">Dashboard</span>
        </a>

        <a href="users.html">
            <i class="bi bi-person"></i>
            <span class="label">Users</span>
        </a>

        <a href="employees.html">
            <i class="bi bi-people"></i>
            <span class="label">Employees</span>
        </a>

        <a href="roles.html">
            <i class="bi bi-person-check"></i>
            <span class="label">Roles</span>
        </a>

        <a href="doors.html">
            <i class="bi bi-door-closed"></i>
            <span class="label">Doors</span>
        </a>

        <a href="devices.html">
            <i class="bi bi-cpu"></i>
            <span class="label">Devices</span>
        </a>

        <a href="nfc.html">
            <i class="bi bi-broadcast"></i>
            <span class="label">NFC</span>
        </a>

        <a href="logs.html">
            <i class="bi bi-journal-text"></i>
            <span class="label">Logs</span>
        </a>

        

    </div>
    <div class="sidebar-spacer">
    <button id="info" title="info">
        <i class="bi bi-info-circle"></i>
        <span class="label">Help and Information</span>
    </button>

    <button id="logoutBtn" title="Logout">
        <i class="bi bi-power"></i>
        <span class="label">Logout</span>
    </button>
    </div>

</aside>